@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.customDateInput {
  width: 100%;
  padding: 8px 14px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
  font-weight: 700;
}
